{{!-- <section>
    <div class="row">
        <div class="container">
            <div>
                <h1>Welcome {{ username}}!</h1>
                  <div><a href="/logout" id="btn2" class="btn btn-primary">Log out</a></div>  
                </form> 
            </div>
        </div>
    </div>
</section> --}}


<nav class="navbar navbar-expand-lg bg-light" style="align-items:center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome {{ username}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
     <a href="/logout" id="btn2" class="btn btn-primary">Log out</a>
  </div>
</nav>
<section>
    <div class="container-fluid">  
        <div class="row overflow-hidden">
            <div class="col-6 ">
                <img src="https://media.istockphoto.com/id/1287169114/photo/vintage-christmas-background-with-red-and-white-balls-decoration-fir-tree-branches-candy.jpg?s=612x612&w=0&k=20&c=sQ_DDGlNKDUm2NsNrxoPtrDTSGAOoXaDnxTDHmz5JrY=" class="img-fluid">
            </div>
            <div class="col-6 ">
                <img src="https://img.freepik.com/free-vector/merry-christmas-wallpaper-design_79603-2129.jpg" class="img-fluid">
        </div>
    </div>
</section>


